img {
    image-rendering: pixelated;
}
body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
html[mode="dark"] body {
    background-color:var(--backgroundColor);
    color:white;
}
html[mode="light"] body {
    background-color:#dddddd;
    color:black;
}

/*#region fileExp*/
#fileExp {
    width:calc(var(--fileExpW) - calc(var(--borderWidth) * 2));                                     height:calc(100vh - calc(var(--borderWidth) * 2));
    display:block; background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;

    overflow-y: scroll;
    overflow-x:clip;
}
#fileExp * {
    overflow-x:clip;
}
a, a:visited {
    color:cornflowerblue;
    text-decoration: none;
}
div.collapsable[collapsed=false] { max-height:100%; }
div.collapsable[collapsed=true] { max-height:1.5em; overflow-y:hidden; }
div.collapsable[collapsed=true] > div > svg { display:inline-block; transform:rotate(0.5turn); }
/*#endregion*/

#toolBar {
    width:calc(calc(100vw - var(--fileExpW)) - calc(var(--borderWidth) * 2));                       height:calc(var(--toolBarH) - calc(var(--borderWidth) * 2));
    display:block; background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
}
#views   {
    width:calc(var(--viewsW) - calc(var(--borderWidth) * 2));                                       height:calc(calc(100vh - var(--toolBarH)) - calc(var(--borderWidth) * 2));
    display:block; background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
}
#editor  {
    width:calc(calc(100vw - calc(var(--viewsW) + var(--fileExpW))) - calc(var(--borderWidth) * 2)); height:calc(calc(100vh - var(--toolBarH)) - calc(var(--borderWidth) * 2));
    display:block; background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
}

body        {
    width:100vw;                         height:100vh;                         display:flex; flex-direction: row;    margin:0px;
}
#container1 {
    width:calc(100vw - var(--fileExpW)); height:100vh;                         display:flex; flex-direction: column; margin:0px;
}
#container2 {
    width:calc(100vw - var(--fileExpW)); height:calc(100vh - var(--toolBarH)); display:flex; flex-direction: row;    margin:0px;
}