@font-face {
    font-family: Monocraft;
    src: url(/MonocraftBetterBrackets.ttf);
}
img {
    image-rendering: pixelated;
}
button:focus-visible, button:focus {
    outline-width: 0px !important;
}
body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: Monocraft !important;
}
html[mode="dark"] body {
    background-color:var(--backgroundColor);
    color:white;
}
html[mode="light"] body {
    background-color:#dddddd;
    color:black;
}
body           {
    width:100vw;                         height:100vh;                         display:flex; flex-direction: row;    margin:0px;
}
div#container1 {
    width:calc(100vw - var(--fileExpW)); height:100vh;                         display:flex; flex-direction: column; margin:0px;
}
div#container2 {
    width:calc(100vw - var(--fileExpW)); height:calc(100vh - var(--toolBarH)); display:flex; flex-direction: row;    margin:0px;
}


/*#region fileExp*/

div#fileExpParent   {
    width:var(--fileExpW);                                     height:100vh;
    display:block; background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
}
div#fileExp, div#fileExp * {
    overflow-x:clip;
}
div#fileExpParent > div {
    width:var(--fileExpW);
    display:block; background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
}
div#fileExpParent > div#searchBar {
    height:var(--searchBarH); width:100%;
    position:relative;
}
div#fileExpParent > div#searchBar > input[type="text"] {
    width:87%;height:100%;
    position:absolute;top:0;left:1%;
    border-radius: 3px;
    border-style:groove;
    background-color: var(--borderColor);
    color:white;
}
div#fileExpParent > div#searchBar > button {
    width:7%;height:100%;
    position:absolute;top:0;left:92%;
    border-width:2px;
    border-radius: 3px;
    border-style:groove;
    padding:0px;
    display:flex;align-items: center; justify-content: center;
    background-color: var(--borderColor);
    color:white;
}
div#fileExpParent > div#searchBar > button > svg {
    height:50%;aspect-ratio: 1;
    transform: translate(1px,0px);
    transform:rotateX('90');
}
div#fileExpParent > div#fileExp {
    overflow-y: scroll;
    height:calc(100vh - var(--searchBarH));
}
a, a:visited  {
    color:cornflowerblue;
    text-decoration: none;
}
div.collapsable[collapsed=false] { max-height:100%; }
div.collapsable[collapsed=true] { max-height:1.5em; overflow-y:hidden; }
div.collapsable[collapsed=false] > div > svg { display:inline-block; transform:rotate(0.5turn); }

/*#endregion*/

/*#region editor*/

div#editorParent {
    width:calc(100vw - calc(var(--viewsW) + var(--fileExpW))); height:calc(100vh - var(--toolBarH));
    display:flex; flex-direction:column; border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
}
div#fileTabs, div#fileTabs blk {
    background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth);
}
div#fileTabs { display:block; border-bottom-style: double;}
div#fileTabs > blk.tab {
    display:inline-block; border-right-style: double;
    border-top: solid calc(var(--borderWidth) / 2) var(--borderColor); border-bottom: solid calc(var(--borderWidth) / 2) var(--borderColor);
    margin: bottom 1px;
}
div#fileTabs > blk.tab[selected="true"], div#fileTabs > blk.tab[selected="true"] > blk { background-color:var(--borderColor); }
div#fileTabs > blk.tab > button.closeButton        { background-color:rgba(255,255,255,0); border:none; }
div#fileTabs > blk.tab > button.closeButton:active { border:none; }
div#editor { display:flex; flex: 1; justify-content: center; align-items: center; overflow:hidden; }

/*#endregion*/

/*#region toolbar*/

div#toolBar {
    width:calc(100vw - var(--fileExpW));                       height:var(--toolBarH);
    background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
    display:flex; align-items: center;
    padding-left:calc(var(--toolBarH) / 6); padding-right:calc(var(--toolBarH) / 6);
}
div#toolBar svg { height:50%; aspect-ratio: 1; }

div#toolBar > button#download {
    height:calc(var(--toolBarH) / 2.353); aspect-ratio: 1;
    background-color: var(--borderColor); color:white;
    margin-left:calc(var(--toolBarH) / 6); margin-right:calc(var(--toolBarH) / 6);
}
div#toolBar > div#tools {
    height:var(--toolBarH); aspect-ratio: calc(8 / 6);
    margin-left:calc(var(--toolBarH) / 6); margin-right:calc(var(--toolBarH) / 6);
    display:flex; flex-direction: row; justify-content: space-between; align-items: center;
}
div#toolBar > div#tools > button {
    height:calc(var(--toolBarH) / 3); aspect-ratio: 1;
    background-color: var(--borderColor); color:white;
}
div#toolBar > div#tools > button[active="true"] { background-color: #101010; }


div#toolBar > div#toolOptions {
    height:var(--toolBarH); width:50%; margin-left:auto;
    border-left: double var(--borderWidth) var(--borderColor);
    display:flex; align-items: center;
    padding-left:calc(var(--toolBarH) / 3); padding-right:calc(var(--toolBarH) / 6);
}

div#toolBar > div#toolOptions > div {width:100%;
    display:flex;flex-direction: row; }
div#toolBar > div#toolOptions > div > * { margin-right:1em; }
div#toolBar > div#toolOptions > div[active=false] { width:0px; max-width:0px; overflow-x:hidden;}

div#toolBar > div#toolOptions  input[type="color"] {
    height:calc(var(--toolBarH) / 4);
    width :calc(var(--toolBarH) / 4);
    background-color: var(--borderColor);
    display:block;
}
div#toolBar > div#toolOptions  input[type="number"] {
    width :calc(var(--toolBarH) * 0.666);
    display:block;
}
/*#endregion*/

div#views   {
    width:var(--viewsW); height:calc(100vh - var(--toolBarH));
    background-color:var(--backgroundColor); border-color:var(--borderColor); border-width:var(--borderWidth); border-style:double;
    display:flex; align-items: center; flex-direction: column;
    padding-top:calc(var(--toolBarH) / 6); padding-bottom:calc(var(--toolBarH) / 6);
}
div#views > button {
    background-color: var(--borderColor); color:white;
    height:calc(var(--toolBarH) / 3); aspect-ratio: 1;
    margin-bottom:calc(var(--toolBarH) / 6);
}
div#views > button[active="true"] { background-color: #101010; }